{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/main.css">

<script defer src="{{ url_for('static', filename='/main.js') }}"></script>
{% endblock %}

{% block body %}
<div class="hero">
    <h1> Control page </h1>
    <div id="controls" >
        <div id="horisontal">
            <div id="up">
                <form action="/api/direction/U" method="get"> <button type="submit"> Up </button> </form>
            </div>
            <div id="down">
                <form action="/api/direction/D" method="get"> <button type="submit"> Down </button> </form>
            </div>
        </div>
        <div >
            <div>
                <form action="/api/direction/F" method="get"> <button type="submit"> Forward </button> </form>
            </div>
            <div id="vertical">
                <div>
                <form action="/api/direction/L" method="get"> <button type="submit"> Left </button> </form>
            </div>
            <div>
                <form action="/api/direction/R" method="get"> <button type="submit"> Right </button> </form>
            </div>
            </div>
            <div>
                <form action="/api/direction/B" method="get"> <button type="submit"> Backwards </button> </form>
            </div>
        </div>
        
    </div>
</div>

<!-- gallery button  -->

<a id="galleryBtn" href="{{ url_for('gallery') }}">← Gallery</a>
<!-- -->

<!-- Record button-->

    <p id="recMsg" ></p>

  <div id=record-tracking > 
    <button id="btnTrack">TRACKING</button>
    <button id="btnRecord">RECORD</button>
  </div>

  
  
{% endblock %}