<!DOCTYPE html>
<html lang="en">
<head>
  <script defer src="{{ url_for('static', filename='/gallery.js') }}"></script>
  <link rel="stylesheet" href="/static/gallery.css">
<meta charset="UTF-8">
<title>Pi Clips</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

{% extends "base.html" %}
{% block body %}
</head>
<body>
<h2>Pi Camera Clips</h2>
<div id="rocordButtom">
<a href="{{ url_for('record_page') }}" >⏺️</a>
</div>

<div id="grid"></div>

<!-- full‑screen dialog -->
<div id="dlg" class="dialog" onclick="closeDlg(event)">
  <div class="dialog-content" onclick="event.stopPropagation()">
    <video id="dlgVid" playsinline controls></video>
    <input id="dlgTitle" placeholder="Enter title…">
    
    
    <div class="row">
      <button id="delBtn" style="background:#e53935;color:#fff;">Delete</button>
      <a id="dlLink"><button>Download</button></a>
      <button onclick="saveTitle()">Save Title</button>
      
    </div>
  </div>
</div>


{% endblock %}
</body>
</html>
